@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* primary color*/
  --clr-primary-0: hsla(213, 97%, 25%, 0.927);
  --clr-primary-1: hsl(213, 97%, 25%);
  --clr-primary-2: hsl(213, 96%, 20%);
  --clr-primary-3: hsl(213, 97%, 15%);
  --clr-primary-4: hsl(212, 96%, 10%);
  /* secondary color*/
  --clr-secondary-1: hsl(203, 100%, 39%);
  --clr-secondary-2: hsl(203, 63%, 51%);
  --clr-secondary-3: hsl(203, 63%, 63%);
  --clr-secondary-4: hsl(203, 63%, 75%);

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  /* color: hsl(0, 0%, 58%); */
}
/*
=============== 
Global Styles
===============
*/
